@model List<Pars.ViewModels.Orders.SubmitOrderItemDto>

<div class="card card-custom overflow-hidden">
    <div class="card-body p-0">
        <div class="row justify-content-center bgi-size-cover bgi-no-repeat py-4 px-4 py-md-14 px-md-0" style="background-image: url(./metronic/assets/media/bg/bg-6.jpg);">
            <div class="col-md-9">
                <div class="d-flex justify-content-between  flex-column flex-md-row">
                    <h1 class="display-4 text-white font-weight-boldest"> ثبت سفارش جدید</h1>
                </div>

            </div>
        </div>
        @if (Model.Any())
        {
            <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pl-0 font-weight-bold text-muted  text-uppercase">نام محصول</th>
                                    <th class="text-right font-weight-bold text-muted text-uppercase">تعداد</th>
                                    <th class="text-right font-weight-bold text-muted text-uppercase">قیمت واحد</th>
                                    <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">قیمت کل</th>
                                    <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">مالیات و عوارض</th>
                                    <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">تخفیف</th>
                                    <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">مبلغ خالص</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="font-weight-boldest font-size-lg">
                                        <td class="pl-0 pt-7"><a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId" asp- taget="_blank">@item.Name</a></td>
                                        <td class="text-right pt-7">@item.Count</td>
                                        <td class="text-right pt-7">@item.UnitPrice.ToString("N0") </td>
                                        <td class="pr-0 pt-7 text-right">@item.TotalPrice.ToString("N0")</td>
                                        <td class="text-danger pr-0 pt-7 text-right">@item.TaxPrice.ToString("N0")</td>
                                        <td class="text-success pr-0 pt-7 text-right">@item.Discount.ToString("N0")</td>
                                        <td class="text-primary pr-0 pt-7 text-right">@item.TotalPurePrice.ToString("N0")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
                <div class="col-md-9">
                    <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                        <div class="d-flex flex-column mb-10 mb-md-0">

                            <div class="d-flex justify-content-between mb-3">
                                <span class="mr-15 font-weight-bold">مبلغ کل:</span>
                                <span class="text-right">@Model.Select(x => x.TotalPrice).DefaultIfEmpty(0).Sum().ToString("N0") ریال</span>
                            </div>

                            <div class="d-flex justify-content-between mb-3">
                                <span class="mr-15 font-weight-bold">مبلغ مالیات و عوارض:</span>
                                <span class="text-right">@Model.Select(x => x.TaxPrice).DefaultIfEmpty(0).Sum().ToString("N0") ریال</span>
                            </div>

                            <div class="d-flex justify-content-between mb-3">
                                <span class="mr-15 font-weight-bold">مبلغ تخفیف:</span>
                                <span class="text-right">@Model.Select(x => x.Discount).DefaultIfEmpty(0).Sum().ToString("N0") ریال</span>
                            </div>

                        </div>
                        <div class="d-flex flex-column text-md-right">
                            <span class="font-size-lg font-weight-bolder mb-1">مبلغ قابل پرداخت</span>
                            @{ var total = @Model.Select(x => x.TotalPurePrice).DefaultIfEmpty(0).Sum();}
                            <span class="font-size-h2 font-weight-boldest text-danger mb-1">@total.ToString("N0") ریال</span>
                            <span class="font-size-h3 font-weight-boldest mb-1">@(((long)(total/10)).NumberToText(Language.Persian)) تومان</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                <div class="col-md-9">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-primary font-weight-bold">ثبت سفارش</button>
                        <button type="button" class="btn btn-danger font-weight-bold" onclick="clearBasket(true);">حذف سبد سفارش</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                <div class="col-md-9">
                    <span class="font-size-h3 font-weight-boldest mb-1">سبد سفارش خالی است. برای مشاهده لیست محصولات <a asp-controller="Product" asp-action="Index">اینجا</a> کلیک کنید</span>
                </div>
            </div>
          
        }
    </div>
</div>
